

body
    margin: 0
    background-color: black
    // display: flex
    align-items: center
    justify-content: center
    height: 300vh
    *
        color: white
        font-family: 'Noto Sans TC', sans-serif
.container_bg
    background-color: #000
ul , li
    list-style: none
    padding: 0
    margin: 0
.bannerLogo
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
#hyperbola
    width: 1100px 
    height: 300px 
#hyperbola path
    stroke-dashoffset: 0

header
    position: fixed
    width: 100%
    z-index: -1
.nav-bar
    width: 100%
    display: grid
    grid-template-areas: "logo section lang"
    position: fixed
    align-items: center
    @media screen and ( max-width: 960px )
        grid-template-columns: 80px 5fr 110px
    .item
        padding: 10px 20px
    .logo
        grid-area: logo
        img
            width: 40px
            @media screen and ( max-width: 960px )
                width: 30px
    .item2
        grid-area: section
        justify-content: center
        align-items: center
        padding: 0 20px
    .lang
        grid-area: lang
        justify-self: end
        img
            margin: 0 5px
            width: 25px
            @media screen and ( max-width: 960px )
                width: 20px
    ul
        display: grid
        grid-template-columns: repeat(5 , 1fr)
        justify-content: center
        align-items: center
        text-align: center
        li
            font-size: 22px
            @media screen and ( max-width: 960px )
                font-size: 16px
            @media screen and ( max-width: 580px )
                font-size: 12px
main
    padding-top: 100vh
    .container
        .about
            background-color: black
            height: 100vh
            display: grid
            grid-template-areas: "figure content" "special special"
            grid-template-rows: 2fr 1fr
            grid-template-columns: 2fr 1fr
            .figure
                background-color: yellow
                
                background-image: url('../img/04-background/20200206105813-office.jpg')
                background-repeat: no-repeat
                display: grid
                grid-area: figure
                padding: 5px
                align-items: center
                width: 100%
                height: 100%
                background-size: cover
                img
                    width: 100%
            .content
                grid-area: content
                display: flex
                flex-flow: column
                justify-content: center
                padding: 0 10px
                .text-container
                    text-align: center
                    .title
                        font-size: 30px
                        font-weight: 600
                        margin: 5px 0 10px
                    .text
                        margin: 10px 0
                        letter-spacing: 2px
                    .sub-text
                        font-weight: 600
                        margin: 10px 0
            .special
                grid-area: special
                justify-content: space-around
                align-items: center
                display: grid
                grid-template-areas: "item1 item2 item3 item4 item5"
                .item
                    width: 180px
                    height: 180px
                    background-color: lightgreen
                    border-radius: 50%
                    border: 5px solid #fff
                    display: grid
                    justify-content: center
                    align-items: center
                    font-size: 16px
                    font-weight: 600
                    @media screen and ( max-width: 960px )
                        width: 100px
                        height: 100px
                    @media screen and ( max-width: 500px )
                        width: 70px
                        height: 70px
                .item1
                    grid-area: item1
                .item2
                    grid-area: item2
                .item3
                    grid-area: item3
                .item4
                    grid-area: item4
                .item5
                    grid-area: item5



$red: #e74c3c
$blue : #2980b9
$midnight : #2c3e50
$green: #7b3
.exhibition
    margin-top: 100px
    height: 100vh
div#timeline 
    background-color: lighten($blue,20%)
    margin-top: 80px
    height: 10px
    width: 100%
    position: relative
    //box-shadow: 0 0 5px rgba(0,0,0,0.2) inset
    .inside 
        position: absolute
        height: 4px
        background-color: #fff
        width: 0%
        top: 3px
        left: 0
    .dot
        //box-shadow: 0 0 5px rgba(0,0,0,0.2) inset
        z-index: 99
        width: 40px
        height: 40px
        border-radius: 50%
        position: absolute
        top: -15px
        text-align: center
        cursor: pointer
        transition : 0.3s ease-in-out
        &:nth-child(1)
            left: 11%
            background-color: $midnight
        &:nth-child(2)
            left: 22%
            background-color: $red
        &:nth-child(3)
            left: 33%
            background-color: $green
        &:nth-child(4)
            left: 44%
            background-color: darken($blue,10%)
        &:nth-child(5)
            left: 55%
            background-color: $midnight
        &:nth-child(6)
            left: 66%
            background-color: $red
        &:nth-child(7)
            left: 77%
            background-color: $green
        &:nth-child(8)
            left: 88%
            background-color: darken($blue,10%)
        &:hover 
            transform: scale(1.2)
        span
            display: inline-block
            margin-top: 10px
            width: 20px
            height: 20px
            background-color: #fff
            position: relative
            border-radius: 50%
            box-shadow: 0 0 5px rgba(0,0,0,0.2)
        date 
            font-family: roboto
            font-size: 1.1rem
            display: block
            position: relative
            top: -60px
            text-align: center

.exhibition_img
    display: none
    position: relative
    top: 30px
    background-color: #000
    padding: 20px
    margin: auto
    max-width : 960px
    date 
        display: block
        text-align: right
    h2 
        font-family: merriweather, sans-serif
        font-size: 2rem
        padding: 10px 0
        border-bottom: solid #111 2px
        margin-bottom: 20px
    img
        width: 100%