

body
    margin: 0
    background-color: black
    display: flex
    align-items: center
    justify-content: center
    *
        color: white
ul , li
    list-style: none
.bannerLogo
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
#hyperbola
    width: 1100px 
    height: 300px 
#hyperbola path
    stroke-dashoffset: 0

.hyperbola_web
    header
    nav
        .logo
        .sections
            li
                display: inline-block
                font-size: 22px


